<article>
  <h3>about me</h3>

  <table>
    <tr>
      <th>User name：</th>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <th>メールアドレス：</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>保有ポイント：</th>
      <td><%= @user.points %>ポイント</td>
    </tr>
  </table>

  <br>
  <%= link_to 'Edit the profile', edit_user_registration_path %>
</article>
