html {
  height: 100%;
}

header {
  height: 60px;
  font-size: 1.2rem;
  background-color: #FFFFFF;
  margin-left: 0;
  text-align: center;
}

body {
  color: #5e4c47;
  // min-width: 1200px;
  margin: auto;
  position: relative;
  background-color: #F2F2F2;
  min-height: 100%;
  position: relative;
  text-align: center;
  font-family: 'Noto Serif JP', serif;
  background-image: image-url("stone.jpeg");
}

table {
  margin: 3px auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

article {
  padding: 10px 20px 100px 20px;
  margin: auto;
  max-width: 1250px;
}

.top_menu {
  display: flex;
}

.top_menu li{
  float: left;
}

.top_menu li a{
  display: block;
  padding: 15px;
  font-size: 1rem;
  text-decoration: none;
  color: #55423d;
}

.top_menu li a:hover {
  opacity: 0.4;
}

.top_logo {
  margin-left: 15px;
}

.top_menu_right {
  margin-left: auto;
  margin-right: 15px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

td{
  padding: 10px;
}

.search_field {
  display: flex;
  align-items: center;
  height: 96px;
  margin: 0 auto;
  padding: 0 40px 0;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.search_field .col-3{
  padding: 0;
}

.search_field .col-2{
  padding: 0;
}

.clothe_info th{
  padding-right: 0px;
}

.footer {
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: table;
}

.footer p {
  font-size: 0.8rem;
  color: #2a2a2a;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.category_fields .dropdown-toggle {
  margin-bottom: 10px;
}

.side_menu .btn {
  width: 220px;
}

.index_clothes {
  padding: 0;
}

.card {
  background-color: white;
  // background-color: #FFDAB9;
  margin: 0 10px 20px 10px;
  padding: 0 15px;
  overflow: hidden;
  cursor: pointer;
}

.card img {
  width: 100%;
  cursor: pointer;
}

.card:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-10px);
  transition-duration: 0.5s;
}

.category_bar {
  padding: 0 20px 0 0;
}

.each_category {
  padding: 6px 0;
  max-width: 190px;
  border: 1px solid;
}

.dropdown-item {
  padding: 0;
}

.child_category a{
  display: block;
  padding: 4px 24px;
}

.child_category_register label{
  display: block;
  padding: 4px 24px;
}

.card-img-top {
  margin-top: 15px;
}

.card-text {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-text a {
  color: #55423d;
}

.card-body {
  padding: 10px 0;
}

// 服の上をホバーした時に若干拡大する
.img_wrap{
  border: 1px solid #ddd;
  margin: 0 auto;
  overflow: hidden;
  cursor: pointer;
}
.img_wrap img{
  transition-duration: 0.5s;
}
.img_wrap:hover img{
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.clothe_detail_info {
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.item_description {
  background-color: #e6e6e6;
  border-radius: 20px;
}

.stock_info {
  text-align: center;
  width: 80%;
}

.stock_info th {
  text-align: center;
}

.favorite_button {
  text-align: center;
}

.reviews_detail {
  background-color: #F4F5F7;
  border-radius: 20px;
}

.white_box {
  background-color: #FFFFFF;
  border-radius: 20px;
  width: 80%;
  text-align: center;
  display: inline-block;
}

.order_index {
  background-color: #E8E3E3;
  border-radius: 20px;
  padding: 20px 50px;
  border-collapse: separate;
}

.retailer_info th{
  padding: 10px 0;
}

.text_left td{
  text-align: left;
}

.text_right  th{
  text-align: right;
}

.pagination {
  justify-content: center;
}

.pagination>li>a {
  color: #55423d;
}

.dropdown-item label{
  margin-bottom: 0;
}

.page-item.active .page-link {
  background-color: #55423d;
}
