/*スクロールダウン全体の場所*/
.scrolldown4{
  position:absolute;
  bottom:10%;
  right:50%;
    /*矢印の動き1秒かけて永遠にループ*/
  animation: arrowmove 1s ease-in-out infinite;
}

/*下からの距離が変化して全体が下→上→下に動く*/
@keyframes arrowmove{
      0%{bottom:1%;}
      50%{bottom:7%;}
     100%{bottom:1%;}
 }

/*Scrollテキストの描写*/
.scrolldown4 span{
  position: absolute;
  left:-20px;
  bottom:10px;
    /*テキストの形状*/
  color: #eee;
  font-size: 1rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* 矢印の描写 */
.scrolldown4:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: -6px;
    /*矢印の形状*/
    width: 1px;
    height: 20px;
    background: #eee;
    transform: skewX(-31deg);
}

.scrolldown4:after{
  content:"";
  position: absolute;
  bottom:0;
  right:0;
    /*矢印の形状*/
  width:1px;
  height: 70px;
  background:#eee;
}


.toppage_title{
  position: fixed;
  top: 50%;
  left: 65%;
  transform: translateY(-50%) translateX(-50%);
  color:#eee;
  text-shadow: 0 0 15px #666;
  text-align: center;
}

.top_image {
  width: 550px;
  height: auto;
}
@keyframes fadeIn {
  to { opacity: 1; }
}
.c1, .c2, .c3, .c4, .c5, .c6, .c7 {
  opacity: 0;
  animation: 2.0s linear forwards fadeIn;
  font-size: 8rem;
}

.slidebox {
  width: 600px;
  margin: 250px auto 0 30px;
}

.c1 { animation-delay: 0.0s; }
.c2 { animation-delay: 0.3s; }
.c3 { animation-delay: 0.6s; }
.c4 { animation-delay: 0.9s; }
.c5 { animation-delay: 1.2s; }
.c6 { animation-delay: 1.5s; }
.c7 { animation-delay: 1.8s; }

#header{
  width:100%;
  height: 100vh;
  position: relative;
  background-image: image-url("stone.jpeg");
  // background-image: image-url("toppage2.png");
  display: flex;
  justify-content: center;
  // align-items: center;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

#header:before{
  content: '';
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height: 100vh;
  /*背景画像設定*/
}

#container{
  position: relative;
  z-index:1;
  background:white;
  padding:230px 0 300px;
  text-align: center;
  color: grey;
  background-image: image-url("toppage_bottom.png");
  background-size:cover;
}

@media screen and (max-width:768px){
    #header,
    #header:before{
  height: 90vh;
    }
}
