<h1>Post your review!</h1><br><hr>

<h5 style="color:pink;">星評価とテキストコメントで&ensp;100ポイント&ensp;、<br>
写真付きのレビュー投稿で&ensp;150ポイント&ensp;獲得できます：）</h5><br>


<%= render 'form' %>
<%= link_to 'Back', orders_path, class: 'btn btn-outline-success' %>
